    body {
        font-family: arial;
        background: #BAF1F2;
        margin: 0;
        padding: 0;
        line-height: 2em;
    }
    
    a:after {
        color: black;
    }
    
    a {
        color: black;
    }
    
    p {
        clear: both;
        margin-top: 20px;
 
        font-family: 'PT Sans', sans-serif;
    }
    
    h1,
    h2 {
//        font-family: 'PT Sans', sans-serif;
                   font-family: 'Kanit', sans-serif;
    }
    
    p .first {
        margin-top: 40px;
        padding-top: 40px;
    }
    
    #container {
        background: white;
        margin: 0em 2em 0em 2em;
        padding: 0px 50px 50px 50px;
        height: auto;
        p {
            padding: 0px 25px 0px 25px;
        }
    }
    
    .left {
        float: left;
        width: 18%;
        margin: 2 15px 2 0;
    }
    
    .esp1s {
        width: 12%;
        float: left;
        margin: 2 15px 2 0;
    }
    
    .right {
        float: right;
        width: 15%;
    }
    
    .mbot {
        position: relative;
        top: 0;
        width: 25%;
        float: right;
    }
    
    .motors {
        width: 70%;
        margin: auto;
    }
    
    .samplerun {
        margin: auto;
    }
    
    .interface {
        width: 25%;
        float: right;
        margin: 2px 0px 20px 5px;
    }
    
    #boards {
        width: 100%;
    }
    
    .wiring {
        //        position: relative;
        width: 70%;
        margin: auto;
    }
    
    .lightbox {
        /** Default lightbox to hidden */
        display: none;
        /** Position and style */
        position: fixed;
        z-index: 999;
        width: 100%;
        height: 100%;
        text-align: center;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
    }
    
    .lightbox img {
        /** Pad the lightbox image */
        max-width: 90%;
        max-height: 80%;
        margin-top: 2%;
    }
    
    .lightbox:target {
        /** Remove default browser outline */
        outline: none;
        /** Unhide lightbox **/
        display: block;
    }
    
    .thumbnail {
        max-width: 70%;
        //        padding:auto;
    }
    
    header {
        width: 100% !important;
        position: relative;
        img {
            width: 100%;
        }
        .title {
            position: absolute;
            bottom: 0;
            background-color: rgba(0, 0, 0, .75);
            color: white;
            width: 100%;
            h1,
            h2 {
                padding-left: 25px;
            }
        }
    }
